<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Templates</title>
</head>
<body>
<p><img src="{{url_for('static', filename='pubg.jpg')}}"/></p>
<h1>Hi {{name}}, how are you doing today  </h1>
{%if name=='Ikraam':%}
<p>You are an admin</p>
{%else%}
<p>You are a normal user</p>
{%endif %}

  <table>
        <thead>
            <tr>
                <th>Student_Names</th>
                <th>Student_Ages</th>
            </tr>
        </thead>
        <tbody>
            {% for x in student_ages %}
                <tr>
                    <td>{{x}}</td>
                    <td>{{student_ages[x]}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>